body{
    background-color: #1acbc3;
}
#header{
    text-align: center;
    color: #ff0000;
}
#form{
    width: 40%;
    margin: auto;
}
input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #dadfe2;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    border: 4px solid #b4b4be;
}

input[type="radio"]:checked + label{
    color: #ff0000;
    text-transform: uppercase;
}

input[type="checkbox"]:enabled + label{
    color: #ffff00;
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    color: #ff0000;
    font-style: normal;
}

input[type="checkbox"]:disabled + label{
    color: #989898;
}

ul li:first-child{
    background-color: #ff0000;
}

ul li:last-child{
    background-color: #00ff00;
}

ul li:nth-child(4){
    background-color: #ffff00;
}
.thank_u{
    text-align: center;
}

p:empty{
    background-color: #ff0000;
    height: 20px;
}

#submit_btn{
    width: 100px;
    height: 40px;
    /* background-color: #2530fa; */
    border: 1px solid #2530fa;
    border-radius: 5px;
}

#submit_btn:hover{
    background-color: #2530fa;
    color: #ffffff;
}